ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: 400px;
  width: 100%;
  height: 100%;
}
ol a {
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-style: solid;
  border-color: lightskyblue;
  border-radius: 100%;
  z-index: 50;
  background-color: white;
}

ol li a{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

ol a:hover {
  border-color: blueviolet;
}

.union {
  align-content: center;
  vertical-align: middle;
}

.union .line {
  background-color: lightblue;
  height: 10px;
  margin-top: 40%;
  margin-bottom: 40%;
  margin-left: -5px;
  margin-right: -5px;
  vertical-align: middle;
}




.union .vertical-line {
  background-color: lightblue;
  width: 10px;
  height: 30px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -5px;
  margin-bottom: -5px;

}


.select-point {
  background-color: cornflowerblue;
}


